<div class="container mt-5">
  <div class="row">
    <div class="col-md-8" class="text-center">
      <h1>{{ recette.nom }}</h1>
      <div class="d-flex justify-content-between align-items-center mt-3">
        <div class="d-flex align-items-center">
          <span class="mr-2">⏲️</span> <!-- Emoji horloge -->
          <span>{{ recette.duree }} minutes</span>
        </div>
        <div>
          <span class="font-weight-bold">{{ recette.difficulte | difficulte }}</span>
        </div>
      </div>
      <div class="d-flex justify-content-center align-items-center mt-3">
        <span class="mr-2">🍽️</span> <!-- Emoji couvert -->
        <span>{{ recette.cmbPersonne }} personnes</span>
      </div>
      <div class="text-center mt-4">
        <img class="img-fluid rounded" [src]="recette.image" alt="Image de la recette" style="max-width: 40%;">
      </div>
      <p class="recette-description mt-3">{{ recette.description }}</p>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Ingrédients:</h2>
          <ul class="list-group list-group-flush">
            <li *ngFor="let produit of recette.produitRecette" class="list-group-item">
              <!-- Affichage conditionnel de la quantité -->
              <ng-container *ngIf="produit.quantite">{{ produit.quantite }} x </ng-container>
              {{ produit.produit.nom }}
              <!-- Affichage conditionnel du poids et de l'unité de mesure -->
              <ng-container *ngIf="produit.poids">{{ produit.poids }} {{ produit.produit.typeProduit.uniteDeMesure }}</ng-container>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Étapes:</h2>
          <ol class="list-group list-group-numbered">
            <li *ngFor="let etape of recette.etapes | orderBy: 'numeroEtape'" class="list-group-item">{{ etape.etape }}</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
